In [97]:
# general
import os
import numpy as np
import pandas as pd

# plots
from IPython.display import Image
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap
import seaborn as sns
sns.set()
from IPython.display import Image

# predictions
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
%matplotlib inline

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [98]:
drivers = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/drivers.csv")
driver_standings = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/driver_standings.csv", sep = ",")
driver_results = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/results.csv")
pit_stops = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/pit_stops.csv")
qualifying = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/qualifying.csv")
races = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/races.csv")
circuits = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/circuits.csv")

lap_times = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/lap_times.csv")
status = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/status.csv")
constructors = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/constructors.csv")
constructor_standings = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/constructor_standings.csv")
constructor_results = pd.read_csv("https://raw.githubusercontent.com/the-mcw/ML1/main/data/constructor_results.csv")

In [99]:
races_1 = races.loc[(races['year'] >= 2011) & (races['year'] <= 2020)].copy().iloc[:,0:6]
del races_1['name']
races_2 = pd.merge(races_1,circuits[['circuitId','country']], on = 'circuitId')
races_2.date = pd.to_datetime(races_2.date)
races_2.head()

   raceId  year  round  circuitId       date    country
0     841  2011      1          1 2011-03-27  Australia
1     860  2012      1          1 2012-03-18  Australia
2     880  2013      1          1 2013-03-17  Australia
3     900  2014      1          1 2014-03-16  Australia
4     926  2015      1          1 2015-03-15  Australia

In [100]:
#race_1 = pd.merge(races, pit_stops, on='raceId', how='outer')
#race_1 = race_1.rename(columns={'time_y':'TimeOfPitStop'})
#Filtering Race seasons 2011 - 2020
#race_2011_2020 = race_1.loc[(race_1['year'] >= 2011) & (race_1['year'] <= 2020)].copy()
#Convert duration attribute to numeric
#race_2011_2020["duration"] = pd.to_numeric(race_2011_2020["duration"], errors="coerce")
#pit_stops.head()
pits = pd.pivot_table(pit_stops, values='milliseconds', index= ['raceId','driverId'], columns='stop').reset_index()
pits['mean_stop'] = pits.mean(axis=1)
pits['stops'] = 6-pits.isna().sum(axis=1)
pits =pits[['raceId','driverId','mean_stop','stops']]
pits.columns.name = None
pits = pits.merge(races_2,on='raceId').drop(columns='circuitId')
#pits

In [101]:
drivers = drivers[['driverId','driverRef','dob','nationality']]
drivers['dob'] = pd.to_datetime(drivers.dob)
drivers.info()
#driver_standings = driver_standings.drop(columns=['driverStandingsId','positionText'])
driver_standings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   dob          857 non-null    datetime64[ns]
 3   nationality  857 non-null    object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 26.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33902 entries, 0 to 33901
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  33902 non-null  int64
 1   raceId             33902 non-null  int64
 2   driverId           33902 non-null  int64
 3   points             33902 non-null  float64
 4   position           33902 non-null  int64
 5   positionText       33902 non-null  object
 6   wins               33902 non-null  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 1.8+ MB

In [102]:
drivers_1 = pd.merge(drivers, driver_standings, on='driverId', how='outer')
#drivers_1.loc[drivers_1.driverId==155]

In [103]:
driver_results.position = driver_results.position.replace('\\N',np.NaN).astype(np.float64)
driver_results.rank = driver_results['rank'].replace('\\N',np.NaN).astype(np.float64)
driver_results = driver_results[['raceId','driverId','constructorId','grid','positionOrder','points','laps','rank','fastestLapTime','fastestLapSpeed','statusId']]
driver_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25840 entries, 0 to 25839
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   raceId           25840 non-null  int64
 1   driverId         25840 non-null  int64
 2   constructorId    25840 non-null  int64
 3   grid             25840 non-null  int64
 4   positionOrder    25840 non-null  int64
 5   points           25840 non-null  float64
 6   laps             25840 non-null  int64
 7   rank             25840 non-null  object
 8   fastestLapTime   25840 non-null  object
 9   fastestLapSpeed  25840 non-null  object
 10  statusId         25840 non-null  int64
dtypes: float64(1), int64(7), object(3)
memory usage: 2.2+ MB

In [104]:
drivers_2 = pd.merge(drivers_1, driver_results, on=('driverId','raceId'), how='outer', suffixes=('Season','Race'))
#drivers_2

In [105]:
drivers_3 = pd.merge(drivers_2,pits, on=('raceId','driverId'))
drivers_3['rank'] = drivers_3['rank'].replace('\\N',np.NaN).astype(np.float64)
drivers_3['podium'] = drivers_3.positionOrder<4

drivers_3.date = pd.to_datetime(drivers_3.date) 
drivers_3['age'] = (drivers_3.date-drivers_3.dob)/np.timedelta64(1,'Y')
del drivers_3['dob']
drivers_3['fastestLapSpeed'] = drivers_3['fastestLapSpeed'].replace('\\N',np.NaN).astype(np.float64)

In [106]:
drivers_4 = drivers_3.drop(columns='driverStandingsId').merge(qualifying.drop(columns=['qualifyId','number']),on=['raceId','driverId','constructorId'],
                            suffixes=('Season','Qualify'))
drivers_4['q1'] = drivers_4.q1.replace('\\N',np.NaN)
drivers_4['q2'] = drivers_4.q2.replace('\\N',np.NaN)
drivers_4['q3'] = drivers_4.q3.replace('\\N',np.NaN)
drivers_4 = drivers_4.loc[drivers_4['driverRef'].notna()]
drivers_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3864 entries, 0 to 3863
Data columns (total 29 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   driverId         3864 non-null   int64
 1   driverRef        3864 non-null   object
 2   nationality      3864 non-null   object
 3   raceId           3864 non-null   float64
 4   pointsSeason     3864 non-null   float64
 5   positionSeason   3864 non-null   float64
 6   positionText     3864 non-null   object
 7   wins             3864 non-null   float64
 8   constructorId    3864 non-null   float64
 9   grid             3864 non-null   float64
 10  positionOrder    3864 non-null   float64
 11  pointsRace       3864 non-null   float64
 12  laps             3864 non-null   float64
 13  rank             3864 non-null   float64
 14  fastestLapTime   3864 non-null   object
 15  fastestLapSpeed  3852 non-null   float64
 16  statusId         3864 non-null   float64
 17  mean_stop        3864 non-null   float64
 18  stops            3864 non-null   int64
 19  year             3864 non-null   int64
 20  round            3864 non-null   int64
 21  date             3864 non-null   datetime64[ns]
 22  country          3864 non-null   object
 23  podium           3864 non-null   bool
 24  age              3864 non-null   float64
 25  positionQualify  3864 non-null   int64
 26  q1               3828 non-null   object
 27  q2               2824 non-null   object
 28  q3               1766 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(14), int64(5), object(8)
memory usage: 879.2+ KB

In [107]:
id_changes = {
    209: 206,  # Manor Marussia
    208: 205,  # Lotus F1
    207: 32,   # Team Lotus
    211: 117,  # Racing Point
    10: 117,   # Force India
    5: 213,    # Toro Rosso
    15: 51     # Sauber
}

constructor_standings['constructorId'] = constructor_standings['constructorId'].replace(id_changes)

constructor_results['constructorId'] = constructor_results['constructorId'].replace(id_changes)

In [108]:
marussia = constructors[constructors['constructorId'] == 206]
#print(marussia)

lotus = constructors[constructors['constructorId'] == 205]
#print(lotus)

astonmartin = constructors[constructors['constructorId'] == 117]
#print(astonmartin)

alphatauri = constructors[constructors['constructorId'] == 213]
#print(alphatauri)

In [109]:
# Merge team_1 with constructor_results
team_1 = pd.merge(constructor_standings.drop(columns=['positionText','constructorStandingsId']), constructor_results.drop(columns=['status','constructorResultsId']), on=('constructorId','raceId'), how='outer')
team_1 = team_1.rename(columns={'points_x': 'ConstructorSeasonPoints', 'points_y': 'ConstructorRacePoints', 'wins': 'ConstructorWins','position':'ConstructorSeasonPosition'})
#team_1.loc[team_1.constructorId == 206].sort_values(by = 'raceId')

In [110]:
team_1 = team_1.loc[team_1.duplicated(subset=['constructorId','raceId'])==False]

In [111]:
drivers_4['constructorId'] = drivers_4['constructorId'].replace(id_changes)

drivers_5 = drivers_4.merge(team_1,on=['constructorId','raceId'])
drivers_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3864 entries, 0 to 3863
Data columns (total 33 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   driverId                   3864 non-null   int64
 1   driverRef                  3864 non-null   object
 2   nationality                3864 non-null   object
 3   raceId                     3864 non-null   float64
 4   pointsSeason               3864 non-null   float64
 5   positionSeason             3864 non-null   float64
 6   positionText               3864 non-null   object
 7   wins                       3864 non-null   float64
 8   constructorId              3864 non-null   float64
 9   grid                       3864 non-null   float64
 10  positionOrder              3864 non-null   float64
 11  pointsRace                 3864 non-null   float64
 12  laps                       3864 non-null   float64
 13  rank                       3864 non-null   float64
 14  fastestLapTime             3864 non-null   object
 15  fastestLapSpeed            3852 non-null   float64
 16  statusId                   3864 non-null   float64
 17  mean_stop                  3864 non-null   float64
 18  stops                      3864 non-null   int64
 19  year                       3864 non-null   int64
 20  round                      3864 non-null   int64
 21  date                       3864 non-null   datetime64[ns]
 22  country                    3864 non-null   object
 23  podium                     3864 non-null   bool
 24  age                        3864 non-null   float64
 25  positionQualify            3864 non-null   int64
 26  q1                         3828 non-null   object
 27  q2                         2824 non-null   object
 28  q3                         1766 non-null   object
 29  ConstructorSeasonPoints    3864 non-null   float64
 30  ConstructorSeasonPosition  3864 non-null   float64
 31  ConstructorWins            3864 non-null   float64
 32  ConstructorRacePoints      3864 non-null   float64
dtypes: bool(1), datetime64[ns](1), float64(18), int64(5), object(8)
memory usage: 1000.0+ KB

In [112]:
#shift podium to previous results
drivers_5['nextPodium'] = drivers_5.sort_values('raceId').groupby(['driverId','year'])['podium'].shift(-1)

#drivers_5.sort_values(['driverId', 'raceId'], ascending=True)[['driverId','raceId','year','podium','nextPodium']].head(20)

drivers_6 = drivers_5.drop(columns='podium').loc[drivers_5.nextPodium.notna(),:]

In [113]:
drivers_6.head()

,driverId,driverRef,nationality,raceId,pointsSeason,positionSeason,positionText,wins,constructorId,grid,positionOrder,pointsRace,laps,rank,fastestLapTime,fastestLapSpeed,statusId,mean_stop,stops,year,round,date,country,age,positionQualify,q1,q2,q3,ConstructorSeasonPoints,ConstructorSeasonPosition,ConstructorWins,ConstructorRacePoints,nextPodium
0,1,hamilton,British,969.0,18.0,2.0,2,0.0,131.0,1.0,2.0,18.0,57.0,6.0,1:27.033,219.351,1.0,7559.666667,1,2017,1,2017-03-26,Australia,32.214214,1,1:24.191,1:23.251,1:22.188,33.0,2.0,0.0,33.0,True
1,822,bottas,Finnish,969.0,15.0,3.0,3,0.0,131.0,3.0,3.0,15.0,57.0,2.0,1:26.593,220.465,1.0,7743.666667,1,2017,1,2017-03-26,Australia,27.576199,3,1:24.514,1:23.215,1:22.481,33.0,2.0,0.0,33.0,False
2,1,hamilton,British,842.0,22.0,3.0,3,0.0,1.0,2.0,8.0,4.0,56.0,5.0,1:41.512,196.575,1.0,15642.333333,4,2011,2,2011-04-10,Malaysia,26.253790,2,1:36.861,1:35.852,1:34.974,48.0,2.0,0.0,22.0,True
3,18,button,British,842.0,26.0,2.0,2,0.0,1.0,4.0,2.0,18.0,56.0,4.0,1:41.264,197.057,1.0,13642.800000,3,2011,2,2011-04-10,Malaysia,31.223092,4,1:37.033,1:35.569,1:35.200,48.0,2.0,0.0,22.0,False
4,1,hamilton,British,841.0,18.0,2.0,2,0.0,1.0,2.0,2.0,18.0,58.0,8.0,1:30.314,211.382,1.0,11817.000000,2,2011,1,2011-03-27,Australia,26.215460,2,1:25.384,1:24.595,1:24.307,26.0,2.0,0.0,26.0,False